<%= bootstrap_form_for(@employee) do |f| %>
  <div class="col-md-6">
    <%= f.text_field :name, label: "Nome Completo" %>
    <%= f.text_field :enrollment, label: "Matrícula (somente números)" %>
    <%= f.text_field :cpf, label: "CPF (somente números)" %>
    <%= f.text_field :phone, label: "Telefone" %>
    <%= f.submit "Salvar", class: "btn btn-success" %>
    <%= f.button "Limpar Formulário", type: :reset, class: "btn btn-default" %>
    <%= link_to "Voltar", employees_path, class: "btn btn-default" %>
  </div>
<% end %>
